{extend name="base"}

{block name="content"}
<div class="row">
	<div class="col-sm-12">
		<div class="card-box">
			<div class="row">
				<form class="form-horizontal" role="form" action="" method="post">
					<input type="hidden" name="id" value="{$info.id|default=''}">
					<div class="form-group">
						<label class="col-md-2 control-label">商品名称</label>
						<div class="col-md-10">
							<input name="name" type="text" disabled="disabled" class="form-control" placeholder="商品名称" value="{$info.goods_name|default=''}">
						</div>
					</div>
                    <div class="form-group">
						<label class="col-md-2 control-label">商品价格</label>
						<div class="col-md-10">
							<input name="sort" type="number" disabled="disabled" class="form-control" placeholder="商品价格" value="{$info.goods_price|default=0}" min=0>
						</div>
                    </div>
					<div class="form-group">
						<label class="col-md-2 control-label">买家联系方式</label>
						<div class="col-md-10">
							<input name="sort" type="number" disabled="disabled" class="form-control" placeholder="买家联系方式" value="{$info.contact|default=0}" min=0>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label">购买数量</label>
						<div class="col-md-10">
							<input name="sort" type="number" disabled="disabled" class="form-control" placeholder="购买数量" value="{$info.quantity|default=0}" min=0>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label">转账凭证</label>
						<div class="col-md-10" style="margin-top: 8px;">
							<img width="200px" height="200px" src="{$domain}/static/upload/{$info.image}" alt="">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label">下单时间</label>
						<div class="col-md-10" style="margin-top: 8px;">
							{$info.create_at|date='Y-m-d H:i:s', ###}
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label">订单状态</label>
						<select name="status" style="margin-top: 8px;margin-left: 10px;">
<!--							<option value=""></option>-->
							{foreach $status_list as $k=> $v}
							<option value="{$k}" {if $Think.get.status==$k}selected{/if}>{$v}</option>
							{/foreach}
						</select>

					</div>

                    <div class="form-group">
						<label class="col-md-2 control-label"></label>
						<div class="col-md-10">
							<button type="submit" class="btn btn-purple waves-effect waves-light">保存修改</button>
						</div>
                    </div>
                </form>
			</div>
		</div>
	</div>
</div>
{/block}

{block name="appendJS"}

<script>
</script>

{/block}
