
<footer class="row footer-area">

    <div class="row m0 footer_bottom">
        <div class="container">
            <div class="row" style="padding:0 20px">
                <div style="text-align:center" class="col-sm-6 col-md-6">
                    {:sysconf('site_info_copyright')}
                </div>
            </div>
        </div>
    </div>
</footer>