
<footer class="row footer-area">

    <div class="row m0 footer_bottom">
        <div class="container">
            <div class="col-sm-12 text-center" style="text-align: center">
                {:htmlspecialchars_decode(sysconf('site_info_copyright'))}
                <a href="javascript:void(0)" onclick="window.open('http://beian.miit.gov.cn/');" >
                    {:htmlspecialchars_decode(sysconf('site_info_icp'))}</a> {:htmlspecialchars_decode(sysconf('site_statistics'))}
            </div>
        </div>
    </div>
</footer>